data/source
data/testims/
data/images/
data/data/
data/MASTER/
data/test_ims/*/
data/source_2/
data/test/
seal-script-images-raw/
source/
data/job_logs
data/results


**/__pycache__

data/log_3.log
.vscode
**/*.log
**/*.err
**/*.out
