backgrounds/
hyper-parameter-testing/control-images/
hyper-parameter-testing/images/
hyper-parameter-testing/labels/
yolov8-data/FinalYOLOModel/weights/
yolov8-data/test/
yolov8-data/train/
yolov8-data/valid/
yolov8-data/yolov8m.pt
